.footer{
    position: relative;
    display: flex;
    height:50vh;
    margin-top: 6rem;
    padding: 0px 50px 0px ;
    align-items: center;
}

.left{
    display:flex;
    flex-direction: column;
    position: relative;
    flex:1;
    
}
.icon{
    
    display: flex;
    align-items: center;
    padding: 0px 50px 0px;
}

.icon>:nth-child(1){
    transform: scale(0.65);
}

.right{
    display: flex;
    padding-left: 20px;
    flex-direction: column;
}
.i-icon{
    padding: 0px px 0px;

}



.blur111{
    position: absolute;
    width: 18rem;
    height: 14rem;
    border-radius: 50%;
    background: #edd0ff;
    z-index: -9;
    top: -20%;
    left: 50%;
    filter: blur(72px);
    position:fixed;
}

.ame{
    display: flex;
    align-content: center;
    font-size: large;
}
.txt{
    color: grey;
    font-size: 16px;
    
}
.txt2{
    color: grey;
    font-size: 11px;
}



